   @font-face {
    font-family: Kerouac; /* Имя шрифта */
    src: url(../fonts/Kerouac.ttf); /* Путь к файлу со шрифтом */
   }

   .after-head span{
	   margin-right: 10px;
	   padding: 3px;
	   border-radius: 5px;
	   background: rgba(97, 97, 97, 0.27);
	   font-size: 15px;
   }
   
   h2{
	   font-size: 30px;
	   color: white;
	   padding: 0;
	   margin:0;	   
	   font-weight: bold;
   }
   hr{
	   margin-top: 0.65em;
	   margin-bottom: 0.65em;
   }
   
   b{
	   font-weight: bold;
	   color: #bbb;
   }
   
   .map{
		position: relative;
		display: block;
		//background-image: url(../../map.jpg); 
		//background-repeat: no-repeat;
		//width: 1300px;
		height: 2200px;
   }
   
   .img-map{
	   position: absolute;  
	   //height: 100%;
	   //width: 100%;
	   height: 2200px;
   }
	
   .map div{
	   position: absolute;
	   width: 100%;
	   border: 4px #CCCCCC dashed;
	   //background-color: green;
   }
	.stage{
	   font-family: Kerouac;
	   font-weight: 700;
	   font-size: 45px;
	   color: #000;
	   text-align: center;

		text-shadow:
		-2px -2px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white; 
		
		position: relative;
		overflow: hidden;
		opacity: 0.85;
	}
	.stage:hover{
		cursor: pointer;
		overflow: hidden
	}
	.stage span {
		z-index: 2;
		position: relative;
	}
	.stage img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0.15;
		z-index: 0;
	}
	.stage:hover img {
		opacity: 0.975;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
  }

	.stage:hover {
		opacity: 0.975;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

	}
	
	.overlay {
		position: fixed; /* Sit on top of the page content */
		display: none; /* Hidden by default */
		width: 100%; /* Full width (cover the whole page) */
		height: 100%; /* Full height (cover the whole page) */
		top: 0; 
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.55); /* Black background with opacity */
		z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
		cursor: pointer; /* Add a pointer on hover */
	}
	
	.mia-info{
		position: fixed;
		display: none;
		top: 50%;
		left: 50%;
		margin-top: -285px;
		margin-left: -550px;
		width: 1100px;
		height: 700px;
		z-index: 4;
		text-align: justify;
		background: rgba(0,0,0,0.88);
		/*
		background: 
			url(../../images/flower-corrner.png) left -106px top -83px no-repeat, 
			url(../../images/flower-corrner.png) right -106px top -83px no-repeat, 
			url(../../images/flower-corrner.png) left -106px bottom -83px no-repeat, 
			url(../../images/flower-corrner.png) right -106px bottom -83px no-repeat;
			//rgba(0,0,0,0.4);
	   */
	}
	
	.text-container p{
		text-indent: 1.0em; 
	}
	
	.mia-info .corner{
		position: absolute;
		width: 30%;
	}
	
	.mia-info .reg{
		position: absolute;
		width: 34%;
	}
	
	.mia-info .maru{
		position: absolute;
		width: 38%;
	}
	
	.inner-info{
		font-size: 17px;
		position: relative;
		//background-image: url(../../images/map.jpg); 
		//background-repeat: no-repeat;
		//background-size: cover;
		width: 100%;
		height: 100%;
		padding: 50px;
		/*background: 
			url(../../images/flower-corrner.png) left -106px top -183px no-repeat, 
			url(../../images/flower-corrner.png) right -106px top -83px no-repeat, 
			url(../../images/flower-corrner.png) left -106px bottom -83px no-repeat, 
			url(../../images/flower-corrner.png) right -106px bottom -83px no-repeat,
			rgba(0,0,0,0.8);*/
	}

	.screenshots{
		position: relative;
		display: block;
		width:100%;
		background: rgba(0, 0, 0, .5);
		min-height: 126px;
		
	}
	.screenshots div{
		position: relative;
		float: left;
		width: 22.5%;
		//border: 1px #CCC solid;
	}
	.screenshots img{
		position: relative;
		width: 99% !important;
		height: auto !important;

	}
	
	.difficult{
		position: absolute;
		bottom: 15px;
		right: 50px;
		display: block;
		width: 485px;
		padding: 15px;
		height: 100px;
		border-radius: 5px;
		background: rgba(0, 0, 0, .5);
		
	}
	
	
	.difficult div{
		//display: block;
		float: left;
		//width: 16%;
		height: 70px;
		padding: 10px;
		border-radius: 5px;
		background: rgba(50, 50, 50, .5);
		margin-left:5px;
	}
	
	.circleborder {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
	}
	
	.difficult .yes{
		background: rgba(100, 200, 100, .5);
	}
	
	.difficult .no{
		opacity: 0.4;
		background: rgba(30, 30, 30, .6);
	}

		
	.difficult .no img{
		opacity: 0.5;
	}

	
	
	/*.circleborder {
		background: rgba(200, 20, 20, .8); //url(URL) no-repeat;
		box-shadow: 0 0 20px rgba(100, 10, 10, .8);
		-webkit-box-shadow: 0 0 20px rgba(100, 10, 10, .8);
		-moz-box-shadow: 0 0 20px rgba(100, 10, 10, .8);
	}
	*/
	
   .level-0{
		height: 105px;
   }
   
   .level-1{
	   height: 150px;
   }
   
   .level-2{
	   height: 180px;
   }
   
   .level-3{
	   height: 445px;
   }
   
   .level-4{
	   height: 510px;
   }
   .level-5{
	   height: 215px;
   }
   .level-6{
	   height: 180px;
   }
   .level-7{
	   height: 315px;
   }
   .level-8{
	   height: 140px;
   }
   
   	
	.inner-info .text-container{
		min-height: 45% !important;
		max-height: 45% !important;
	}
	.inner-info .text-container:hover{
		cursor: pointer;
	}

   .right_b,
   .left_b{
	    //position: absolute;
		width: 5% !important;	
		height:126px;
		line-height: 126px;
		text-align: center;
		background: rgba(0, 0, 0, .7);

   };

   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   