   @font-face {
    font-family: Kerouac; /* Имя шрифта */
    src: url(../fonts/Kerouac.ttf); /* Путь к файлу со шрифтом */
   }

   .map{
		position: relative;
		display: block;
		//background-image: url(../../map.jpg); 
		//background-repeat: no-repeat;
		//width: 1300px;
		height: 2200px;
   }
   
   .img-map{
	   position: absolute;  
	   //height: 100%;
	   //width: 100%;
	   height: 2200px;
   }
	
   .map div{
	   position: absolute;
	   width: 100%;
	   border: 4px #CCCCCC dashed;
	   //background-color: green;
   }
	.stage{
	   font-family: Kerouac;
	   font-weight: 700;
	   font-size: 50px;
	   color: #000;
	   text-align: center;

		text-shadow:
		-2px -2px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white; 
		
		position: relative;
		overflow: hidden;
		opacity: 0.85;
	}
	.stage:hover{
		cursor: pointer;
		overflow: hidden
	}
	.stage span {
		z-index: 2;
		position: relative;
	}
	.stage img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0.15;
		z-index: 0;
	}
	.stage:hover img {
		opacity: 0.975;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
  }
	
	.stage:hover {
		opacity: 0.975;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

	}
	
	
   .level-0{
		height: 100px;
   }
   
   .level-1{
	   height: 135px;
   }
   
   .level-2{
	   height: 135px;
   }
   
   .level-3{
	   height: 475px;
   }
   
   .level-4{
	   height: 535px;
   }
   .level-5{
	   height: 170px;
   }
   .level-6{
	   height: 195px;
   }
   .level-7{
	   height: 285px;
   }
   .level-8{
	   height: 135px;
   }
   
   

   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   